@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');
*{
    box-sizing: border-box;
}

:root {
    --color-procipal: #fa573a; 
    --color-secundario: #21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundario:'handlee' , cursive; 
    --anchoMaximo: 1100px; 
    }

    body {
        font-family: var(--fuentePrincipal);
        font-size: 1em;
    
    }
    
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .container {
        max-width: var(--anchoMaximo);
        margin: auto;
    
    }
    
    .flex {
        display: flex;
    }
    /* inicio del header*/
    header .nav_top {
        background-color: var(--color-secundario);
        padding: 20px 10px;
    }
    header .nav_top a {
    
        color: white;
        text-decoration: none;
        font-size: 120%;
    }
    
    header .nav_top a span {
        display: none;
    }
    header .nav_top .flex {
        justify-content: space-between;
    
    }
    header .nav_top i{
        color: var(--color-procipal);
    }
    header nav {
        padding: 20px;
    }
    header .logo {
        max-width: 120px;
    }
    header .hamburguesa {
        width: 50px;
        cursor: pointer;
    
    }
    
    header .hamburguesa div{
        border-top: 2px solid #aaa;
        margin: 10px
        
    }
    
    header nav .flex {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    header nav ul{
        width: 100%;
    }
    header nav ul li a {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 20px;
        border-bottom: 1px solid #aaa;
        color: #aaa;
        transition: 1s;
    }
    header nav ul li .activo {
        color: var(--color-procipal);
    }
    
    header nav ul li a:hover {
    color: var(--color-procipal);
    }
    
    
    /*fin del header*/
    
    /* inicio footer*/
    footer {
        background-color: var(--color-secundario);
        padding: 1.250em 0.625em;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    
    
    }
    footer p, footer a {
        color: white;
    }
    footer a:hover {
        text-decoration:none;
    }
    
    /*fin footer*/
    
    @media(min-width: 48.000em) {
    header .nav_top a span {
        display: inline;
      }
    footer {
        text-align: left;
    }
    

    /*inicio de main*/
    }

    img {
        width: 21%;
        height: auto;
        padding: 0.5%;
        display: inline-block;
    }

      main{
        max-width: var(--anchoMaximo);
        position: relative;
        top:10em;
        left:10em;
    }

    /*inicio del main*/

    main nav #ourblogs {
        font-family: var(--fuenteSecundario);
        text-align: center;
        font-size: 2em;
    }

    main #ourblogs span{
        color: var(--color-procipal);
    }

   main .container .underline{
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-procipal);
    font-weight: bold;
    margin-bottom: 2em;
    text-align: center;

    }
    main .underline hr{
        border-color: var(--color-procipal);
        position: absolute;
        width: 100%;
        top: -0.063em;
    }

section #images{
    position: relative;
    left: 14em;
    padding: 1em 1em;

}
main .allposted h2{
    font-size: 15px; 
    font-weight: bold;
    position: relative;
    left: 20%;
    padding: 1em;
}

main .posted1 {
position: relative;
left: 19px;
bottom: 2px;
}

main .posted1 .enlace{
    position: relative;
    left: 238px;
    text-decoration: none;
    color: var(--color-procipal);
}
main .posted1 .readmore1{
    position: relative;
    left: 238px;
    color: var(--color-procipal);
}

main .posted1 p{
    display: block;
    width: 15%;
    position: relative;
    left: 220px;
    margin: 1em;

}

main .posted2 {
    position: relative;
    left:258px;
    bottom: 225px;
    }
    
    main .posted2 .enlace{
        position: relative;
        left: 238px;
        text-decoration: none;
        color: var(--color-procipal);
    }
    
    
    main .posted2 p{
        display: block;
        width: 15%;
        position: relative;
        left: 220px;
        margin: 1em;
    
    }

    main .posted2 .readmore2{
        display: block;
    text-decoration: none;
    position: relative;
    left: 238px;
    color: var(--color-procipal);
}

main .posted3 {
    position: relative;
    left:485px;
    bottom: 448px;
    }
    
    main .posted3 .enlace{
        position: relative;
        left: 238px;
        text-decoration: none;
        color: var(--color-procipal);
    }
    
    
    main .posted3 p{
        display: block;
        width: 15%;
        position: relative;
        left: 220px;
        margin: 1em;
    
    }

    main .posted3 .readmore3{
    text-decoration: none;
    position: relative;
    left: 236px;
    color: var(--color-procipal);
}

main .boton1{
    width: 45px;
    height: auto;
    background-color: var(--color-procipal);
    color: white;
    text-align: center;
    position: relative;
    bottom: 833px;
    left: 245px;
    opacity: 0.9;
}


main .boton2{
    width: 45px;
    height: auto;
    background-color: var(--color-procipal);
    color: white;
    text-align: center;
    position: relative;
    bottom: 865px;
    left: 474px;
    opacity: 0.9;
}
    
main .boton3{
    width: 45px;
    height: auto;
    background-color: var(--color-procipal);
    color: white;
    text-align: center;
    position: relative;
    bottom: 897px;
    left: 702px;
    opacity: 0.9;
}

@media(max-width:800px){
    main nav #ourblogs {
        font-family: var(--fuenteSecundario);
        text-align: left;
        font-size: 2em;
    }
    main #ourblogs span{
        color: var(--color-procipal);
    }

   main .container .underline{
    position: absolute;
    left: 15px;
    width: 5em;
    margin: 0 auto;
    color: var(--color-procipal);
    font-weight: bold;
    margin-bottom: 2em;
    text-align: center;
   }
    section #images{
        width: 1000px;
        display: flex;
        left: 5%;
        padding: 2em 2em;
    }
    main .allposted h2{
        font-size: 15px; 
        font-weight: bold;
        position: relative;
        left: 20%;
        padding: 1em;
    }
    
    main .posted1 {
    position: relative;
    left: 19px;
    bottom: 2px;
    }
    
    main .posted1 .enlace{
        position: relative;
        left: 238px;
        text-decoration: none;
        color: var(--color-procipal);
    }
    main .posted1 .readmore1{
        position: relative;
        left: 238px;
        color: var(--color-procipal);
    }



}